<div class="dashboard-div">
  <div class="fuel-type">
    <h2>Which type of help do you need?</h2>
  </div>
  <div class="redirect-buttons">
    <button
      class="petrol"
      nz-button
      nzType="primary"
      (click)="loadButton(1)"
      [nzLoading]="fuelLoader"
    >
      <span nz-icon>
        <img src="../../../assets/image/fuel.png" alt="" />
      </span>
      Fuel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="loadButton(2)"
      [nzLoading]="machanicLoader"
    >
      <span nz-icon>
        <img src="../../../assets/image/mechanic.png" alt="" />
      </span>
      Mechanic
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="loadButton(3)"
      [nzLoading]="dropLoader"
    >
      <span nz-icon>
        <img src="../../../assets/image/location.png" alt="" />
      </span>
      Dropping
    </button>
  </div>
</div>
